.container{
    max-width: 1500px;
    margin: auto;
    padding: 10px;
}

h1{
    font-weight: 700;
    color: rgb(245, 161, 4);
    font-size: 3vw;
    padding-left: 4vw;
}


nav{
    background: black;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.search {
    font-size: 1.5vw;
    padding: 5px;
    padding-right: 6vw;
}

.searchbtn{
    font-size: 1.5vw;
    padding: 5px;
}

nav ul{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5vw;
}

nav ul li {
    margin: auto;
    padding-left: 6vw;
}

nav ul li a{
    text-decoration: none;
    color: wheat;
    vertical-align: sub;
    font-size: 2vw;
}

nav ul li a:hover{
    text-decoration: none;
    color: rgb(245, 161, 4);
    text-decoration-line: underline;
}

ul li{
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 3vw;
    font-size: 1.5vw;
}

ul {
    list-style: none;
    padding: 0 0 20px;
  }

hr {
    width: 90%;
}
 
.articlelist {
    padding: 5px 2vw;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}

.article {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.articledate {
    text-align: right;
}

.h2results {
    text-align: right;
}

.articlecontent {
  padding: 1vw 3vw 50px 1vw;
  font-size: 1.5vw;
    }

.editarticle {
    display: flex;
}

.editarticle form {
    width: 100%;
}

.editarticle label {
    display: block;
}

.editarticle input {
    display: block;
    width: 85%;
}

.editarticle textarea {
    display: block;
    width: 85%;
    height: 600px;
}

.savearticle {
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.savearticle:hover {
    cursor: pointer;
    background-color: green;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
    
.btn:hover {
    background-color: #fff;
}

.edit{
    display: inline-flex;
    background-image:url('/static/images/icons/icons8-pencil-50.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
} 

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    font-size: 2vw;
    padding-bottom: 40px;
}

.page {
    margin: auto 5px;
    text-decoration: none;
    color: rgb(245, 161, 4);
}

.page:hover {
    margin: auto 5px;
    text-decoration: none;
    color: rgb(245, 161, 4);
    text-shadow: 1px 1px 2px pink;    
}

.cpage {
    font-size: 3vw;
    text-shadow: 1px 1px 2px pink;
}


footer {
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    height: 100%;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    text-align: center;
    background: rgb(2,0,36);
    /* background: radial-gradient(circle, rgba(2,0,36,1) 21%, rgba(128,75,8,1) 90%, rgba(111,104,44,0.8561625333727241) 100%); */
    }

.footertext {
    padding: 5px;
    color: wheat;
}